<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!-- SITE TITLE -->
	<title>Blaster Responsive Template</title>
<!--

Blaster Template

http://www.templatemo.com/tm-472-blaster

-->
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- STYLESHEET CSS FILES -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/nivo-lightbox.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/nivo_themes/default/default.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<style>
	.sd{
		margin-top: 0px;
		align-content: center;
		text-align: center;
		padding-top: 0px;
	}
	.vot{
		background-color: #fff;
	}
	.custom-navbar {
    background-color: #fff !important;
	color: black;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    animation: fadeIn 1s ease-out forwards;
    opacity: 0;
    margin: 10px 0;
    display: none; 
}


</style>

</head>

<body data-spy="" data-target=".navbar-collapse" data-offset="50">

<!-- navigation section -->
<section class="navbar navbar-fixed-top custom-navbar v " role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand"><span class="bold">WaterVoice</span></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{url_for('route.home')}}" class="smoothScroll"><i class='bx bx-news'></i></a></li>
				<li><a href="{{url_for('route.rappore')}}" class="smoothScroll"><i class='bx bx-bell'></i></a></li>
				<li><a href="{{url_for('route.index')}}" class="smoothScroll"><i class='bx bx-edit'></i></a></li>
				<li><a href="{{url_for('route.about')}}" class="smoothScroll">About</a></li>
			</ul>
		</div>
	</div>
</section>

<!-- home section -->
<section id="home" class="x">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 sd">
                <h2 id="text1" style="color: #fff; margin-left: 10px;">Easily share your issues through the app for tailored solutions.</h2>
                <h2 id="text2" style="color: #fff; margin-left: 10px;">Get customized solutions by submitting your problems on the app.</h2>
                <h2 id="text3" style="color: #fff; margin-left: 10px;">Find effective answers by reporting your issues on the app.</h2>
                <h2 id="text4"style="color: #fff; margin-left: 10px;">Submit your challenges and receive the right solutions via the app.</h2>
                <h2 id="text5"style="color: #fff; margin-left: 10px;">Solve your problems quickly by sharing them on the app.</h2>
            </div>
        </div>
    </div>
</section>

<!-- portfolio section -->
<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1 class="heading bold sd">This week's news</h1>
				<video width="600" height="400" controls autoplay loop muted preload="auto" poster="{{ url_for('static', filename='images/image_de_preview.jpg') }}" playsinline>
					<source  src="{{ url_for('static', filename='video/vedio.mp4') }}"  type="video/mp4">
					Your browser does not support the video tag.
				</video>
            </div>
        </div>
    </div>
</div>

<!-- copyright section -->
<section id="copyright" class="vot" style="background-color: #fff;">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-9">
				<p>Copyright © 2024 WaterVoice  | IARV <a rel="nofollow" href="http://www.templatemo.com" target="_parent"></a></p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-3">
				<a href="#home" class="smoothScroll fa fa-angle-up"></a>
			</div>
		</div>
	</div>
</section>

<!-- JAVASCRIPT JS FILES -->	
<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/smoothscroll.js')}}"></script>
<script src="{{url_for('static', filename='js/isotope.js')}}"></script>
<script src="{{url_for('static', filename='js/imagesloaded.min.js')}}"></script>
<script src="{{url_for('static', filename='js/nivo-lightbox.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wow.min.js')}}"></script>
<script src="{{url_for('static', filename='js/custom.js')}}"></script>

<script>
    const navItems = document.querySelectorAll('.bx');

    navItems.forEach(item => {
        item.addEventListener('click', function(event) {
            event.preventDefault(); 

            // Remove the 'active' class from all items
            navItems.forEach(i => i.parentElement.classList.remove('active1'));

            // Add the 'active' class to the clicked item
            item.parentElement.classList.add('active1');
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        let texts = document.querySelectorAll('h2');
        let index = 0;
        
        // Hide all text initially
        texts.forEach((text) => {
            text.style.display = 'none';
        });

        // Function to show the next text
        function showNextText() {
            // Hide all texts first
            texts.forEach((text) => {
                text.style.display = 'none';
            });

            // Show the current text
            texts[index].style.display = 'block';
            texts[index].style.animation = `fadeIn 1s ease-out forwards`;

            // Move to the next text
            index = (index + 1) % texts.length;  // Loop back to the start
        }

        // Show the texts periodically every 3 seconds
        showNextText(); // Show the first text when the page loads
        setInterval(showNextText, 3000);  // Repeat every 3 seconds
    });
</script>

</body>
</html>
