<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!-- SITE TITLE -->
	<title>Blaster Responsive Template</title>
<!--

Blaster Template

http://www.templatemo.com/tm-472-blaster

-->
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- STYLESHEET CSS FILES -->
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='cont.css') }}"> -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/animate.min.css') }}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/nivo-lightbox.css') }}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/nivo_themes/default/default.css') }}">
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>

<body data-spy="" data-target=".navbar-collapse" data-offset="50">
	<section class="navbar navbar-fixed-top custom-navbar v " role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand"><span class="bold">Blaster</span></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li ><a href="{{url_for('route.home')}}" class="smoothScroll"><i class='bx bx-news'></i></a></li>
					<li ><a href="{{url_for('route.rappore')}}" class="smoothScroll" ><i class='bx bx-bell'></i></a></li>
					<li ><a href="{{url_for('route.rappore')}}" class="smoothScroll"><i class='bx bx-cloud'></i></a></li>
					<li ><a href="{{url_for('route.create')}}" class="smoothScroll"><i class='bx bx-edit'></i></a></li>
					<li ><a href="{{url_for('route.about')}}" class="smoothScroll">about</a></li>
				</ul>
			</div>
		</div>
	</section>
<!-- navigation section -->
<section id="team">
    <div class="container">
        <div class="row">
            <form  method="POST">
                <div class="col-md-12 col-sm-12">
                    <h1 class="heading bold">OUR TEAM</h1>
                    <h2 class="subheading">CREATIVE TALENTS FROM WEST COAST</h2>
                </div>
                <div class="col-md-12 col-sm-12">
                    <textarea class="col-md-12 col-sm-12" id="rappore" readonly>{{ x }}</textarea>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- team section -->





<!-- JAVASCRIPT JS FILES -->	
<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/smoothscroll.js"></script>
<script src="static/js/isotope.js"></script>
<script src="static/js/imagesloaded.min.js"></script>
<script src="static/js/nivo-lightbox.min.js"></script>
<script src="static/js/wow.min.js"></script>
<script src="static/js/custom.js"></script>













<script>
    // الحصول على جميع عناصر <a> التي تحتوي على الفئة 'nav-item'
    const navItems = document.querySelectorAll('.bx');

    // إضافة مستمع النقر لكل عنصر
    navItems.forEach(item => {
        item.addEventListener('click', function(event) {
            event.preventDefault(); // منع الانتقال المباشر عند النقر

            // إزالة الفئة 'active' من جميع العناصر
            navItems.forEach(i => i.parentElement.classList.remove('active1'));

            // إضافة الفئة 'active' للعنصر الذي تم النقر عليه فقط
            item.parentElement.classList.add('active1');
        });
    });
</script>
</body>
</html>