/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f9; */
}

header {
    /* background: #333; */
    color: #000000;
    padding: 1rem;
    text-align: center;
}
header nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

header nav a {
    color: #000000;
    margin: 0 1rem;
    text-decoration: none;
    padding: 5px;
    width: 170px;
    height: 60px;
    font-size: 22px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background: #fff;
    border-radius: 5px;
}

h1, h2 {
    color: #333;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
